<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <title>Document</title>
    <link rel="stylesheet" href="app.css">
</head>
<body>
<div id="app">
    <button v-on:click="show = !show">Show / Hide</button>
        <p v-if="show">I'm part-time visible!</p>
        <p v-else>Am i visible ?</p>
        <p v-show="show">Hurry, I'm here</p>
        <hr>
        <!-- <ul>
            <li v-for="(person, index) in persons">{{person.name}} - {{index}}</li>
        </ul> -->
      </div>
      <script src="app.js" charset="utf-8"></script>
</body>
</html>
